@mixin hoverAndFocus($_heightLine, $_beforeColor, $_afterColor) {
  position: relative;
  transition: all 0.6s;
  outline: none;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: $_heightLine;
    background: $_beforeColor;
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    &:before {
      left: 0;
      width: 100%;
      background: $_afterColor;
    }
  }
}

@mixin button($_color) {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $_color;
  border: 1px solid $_color;
  background-color: #fff;
  outline: none;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
  }

  &::before {
    content: "";
    top: -2px;
    right: 5%;
  }

  &::after {
    content: "";
    bottom: -2px;
    left: 10px;
  }

  &:hover,
  &:focus {
    &::before {
      width: 50%;
      right: 25%;
    }

    &::after {
      width: 50%;
      left: 25%;
    }
  }
}

@mixin error {
  color:  $color-danger;
  background-color: rgba($color: $color-danger, $alpha: 0.05);
  border: 1px solid $color-danger;
}
