$screen-min: 320px;
$screen-max-mobile: 767px;
$screen-max-tablet: 1023px;
$screen-max: 1024px;

$color-primary: #333;
$color-danger: #d24335;

$color-dark: #142850;
$color-main: #27496d;
$color-bright: #27496d;
$color-light: #dae1e7;
